@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="text-center">
    <img src="/asset/cowboy-cafe-images/BuckingBronco.png" alt="Bucking Bronco" />
    <h2>Whoops partner, you just bucked off by an error!</h2>
</div>
